%h1#header All Movies 

%table#movies
    %thead
        %tr
            %th Number
            %th Movie Title
            %th Rating
            %th Release Date
            %th More Info
    %tbody
        -@movies.each_with_index do |movie,index|
            %tr#hover
                %td{:style=>"text-align:center"}= index+1  
                %td= movie.title 
                %td= movie.rating 
                %td= movie.release_date.strftime("%F")
                %td= link_to "More about #{movie.title}", movie_path(movie)
%h3 #{link_to 'Add New movie' , new_movie_path(), style:"text-align: right"  }
%h1 Search TMDb for a movie

= form_tag :action => 'search_tmdb' do
    %label{:for => 'search_terms'} Search Terms
    = text_field_tag 'search_terms'
    = submit_tag 'Search TMDb'


