-# in app/views/movies/show.html.haml

%h1#header  #{@movie.title} (#{@movie.release_date.strftime("%Y")})  #{link_to 'Edit', edit_movie_path(@movie), style: "font-size:14px"}

%ul 
  %li#details
    Rating:
    = @movie.rating
  %li#details
    Released on:
    = @movie.release_date.strftime("%d %B %Y")

%h3#description Description:

%p#description= @movie.description
%div 
%br
%h3#description Review:
%table#review
  %thead
    %tr
      %th Moviegoer
      %th Potato
      %th Comment
  %tbody
    -@movie.reviews.each do |item|
      %tr 
        %td= item.moviegoer.name
        %td= item.potatoes
        %td= item.comments
        %td= link_to 'Edit Review', edit_movie_review_path(@movie,item)

%div 
%br
= link_to 'Back to movie list', movies_path()
%div 
%br
= link_to 'Delete', movie_path(@movie), :method => :delete
%div 
%br
= link_to 'Add Review', new_movie_review_path(@movie)
