!!! 5
%html
  %head
    %title RottenPotatoes 
    = stylesheet_link_tag 'application'
    = javascript_pack_tag "application"
    = csrf_meta_tags

  %body
    %table#application
      %tr
        %th
          %h2#banner
            = link_to 'RottenPotatoes' , movies_path()
        %th
          %h3#banner2
          = render :partial => 'sessions/login_form'
      %tr
        %th{:colspan => 2}
          - if flash[:notice]
            #notice.message= flash[:notice]
          - elsif flash[:warning]
            #warning.message= flash[:warning]
      %tr
        %th#main{:colspan => 2}
          = yield
